@model ContactFormView

<section class="contact-form">
    <div class="container">

        <form method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control"/>
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="EmailAddress" class="form-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <small><span asp-validation-for="EmailAddress" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                <small><span asp-validation-for="PhoneNumber" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Company" class="form-label"></label>
                <input asp-for="Company" class="form-control" autocomplete="off" />
                <small><span asp-validation-for="Company" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Message" class="form-label"></label>
                <textarea asp-for="Message" class="form-control" autocomplete="off" ></textarea>
                <small><span asp-validation-for="Message" class="text-danger"></span></small>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>

        </form>

    </div>
</section>