@using WebApp.Models.Entities;
@inject CategoryService categoryService;
@model ProductAddView;

<form method="post" novalidate>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <small><span asp-validation-for="Name" class="text-danger"></span></small>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <small><span asp-validation-for="Price" class="text-danger"></span></small>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <small><span asp-validation-for="Description" class="text-danger"></span></small>
    </div>

    <div class="mb-3">
        <label asp-for="Category" class="form-label"></label>
        <br/>
        <select asp-for="Category">
            @foreach (ProductCategoryEntity category in ViewBag.Categories)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
    </div>

    <div class="d-grid mt-2">
        <button type="submit" class="btn btn-primary py-2">Save</button>
    </div>

</form>