@model ShowcaseFormView;

<form enctype="multipart/form-data" method="post" novalidate>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="IsVisible" class="form-label"></label>
        <input asp-for="IsVisible" class="toggle" />
        <small><span asp-validation-for="IsVisible" class="text-danger"></span></small>
    </div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <small><span asp-validation-for="Title" class="text-danger"></span></small>
    </div>

    <div class="mb-3">
        <label asp-for="Ingress" class="form-label"></label>
        <input asp-for="Ingress" class="form-control" />
        <small><span asp-validation-for="Ingress" class="text-danger"></span></small>
    </div>

    <div class="mb-5">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control" rows="4" />
        <small><span asp-validation-for="Image" class="text-danger"></span></small>
    </div>

    @if (Model?.CurrentImageUrl is not null)
    {
        <img class="product-image-preview" src="@Model.CurrentImageUrl" alt="@Model.CurrentImageUrl" />
    }

    <div class="mb-3">
        <label asp-for="LinkText" class="form-label"></label>
        <input asp-for="LinkText" class="form-control" />
        <small><span asp-validation-for="LinkText" class="text-danger"></span></small>
    </div>

    <div class="mb-3">
        <label asp-for="LinkUrl" class="form-label"></label>
        <input asp-for="LinkUrl" class="form-control" />
        <small><span asp-validation-for="LinkUrl" class="text-danger"></span></small>
    </div>

    <div class="d-grid mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>