@using System.Security.Claims;
@inject AuthService authService;
@{
    ViewData["Title"] = User.Identity?.Name;
}

@{

    <h4>Welcome, @User.FindFirstValue("DisplayName")</h4>

    if (User.IsInRole(UserRole.Admin))
    { 
        <a asp-controller="user-management" asp-action="index">Manage users...</a> 
    }

    if (User.IsInRole(UserRole.Admin))
    {
        <a asp-controller="products" asp-action="manage">Manage products...</a>
    }

}