@using System.Security.Claims;
@inject AuthService authService;
@inject UserService userService;
@model UserEditView;

@{
    ViewData["Title"] = User.Identity?.Name;
}

<div class="col-6 mx-auto my-5">
    <partial name="/Views/Partials/Forms/_UserEdit.cshtml" model="@Model" />
</div>
