@model UserRegisterView
@{ ViewData["Title"] = "Register"; }

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <partial name="/Views/Partials/Forms/_UserRegister.cshtml" />
    </div>
</div>