@if(signInManager.IsSignedIn(User)) 
{
    <a asp-controller="user" asp-action="index" class="me-4 text-nowrap">@User.FindFirst("DisplayName")?.Value</a>
    <a class="link" asp-controller="logout" asp-action="index">Logout</a>
}
else
{
    <a class="link" asp-controller="login" asp-action="index">Login</a>
}