@model ProductCollection;

@if (string.IsNullOrEmpty(Model.Header))
    return;

@if (!Model.Products.Any())
    return;

<section class="grid-collection">
    <div class="container">

        <h1 class="title">@Model.Header</h1>

        @if (Model.Categories?.Any() ?? false)
        {
            <ul class="categories">
                @foreach (var category in Model.Categories)
                {
                    <li class="category-item">
                        <a asp-controller="products" asp-action="search">@category.Name</a>
                    </li>
                }
            </ul>
        }

        <div class="grid">
            @foreach (var item in Model.Products)
            {
                <partial name="/Views/Partials/_ProductCollectionItem.cshtml" model="item" />
            }
        </div>

    </div>
</section>
