@model ProductEditView
@{ ViewData["Title"] = "Edit " + Model.Name; }

<div class="d-flex container">

    <div class="w-max-200px">
        <partial name="/Views/Partials/_ProductManagementList.cshtml"/>
    </div>

    <div class="flex-grow-1 d-flex justify-content-center">
        <partial name="/Views/Partials/Forms/_EditProduct.cshtml" model="@Model"/>
    </div>

</div>