@inject ProductService productService;
@{
    ViewData["Title"] = "Products";
}

@{

    var products =
        ((IEnumerable<Product>)ViewBag.Products).
        GroupBy(p => p.Category);

}

<div class="align-self-center mx-auto col-8 col-lg-4">

    @foreach (IGrouping<ProductCategory?, Product?> group in products)
    {

        @if(group.Key is not null)
        {
            <h4>@group.Key.Name:</h4>
        }

        @foreach (var product in group)
        {

            <a asp-action="product" asp-route-id="@product!.ID">
                <partial name="/Views/Partials/_ProductListItem.cshtml" model="@product"></partial>
            </a>

        }

    }

</div>