@model ProductEditView
@{ ViewData["Title"] = "Manage products"; }

<div class="d-flex container">

    <div class="w-max-200px">
        <partial name="/Views/Partials/_ProductManagementList.cshtml" />
    </div>

    <div class="flex-grow-1 d-flex justify-content-center">
        <h1>No product selected</h1>
    </div>

</div>