@model Product
@{ ViewData["Title"] = Model.Name; }

<div class="col-10 d-flex flex-row mx-auto my-5">
    
    <div>
        <img src="@Model.ImageUrl" class="col-12" />
    </div>

    <div class="ms-4">
        <h4>@Model.Name</h4>
        <div>@Model.Price.ToMoneyString()</div>
        <div>@Model.Description</div>
    </div>

</div>