@inject ProductService productService
@inject UserService userService
@{
    var products = await productService.EnumerateAsync();
    var users = await userService.EnumerateProfiles();
}

<nav class="p-4">

    <h5>Products:</h5>
    <ul class="p-0 me-4">

        @if (products is not null)
            foreach (var product in products)
            {
                <li>
                    <a asp-controller="admin" asp-action="product" asp-route-id="@product.ID">@product.Name</a>
                </li>
            }

        <li class="mt-2"><a asp-action="addproduct">Create new product...</a></li>

    </ul>

    <h5 class="mt-4">Users:</h5>
    <ul class="p-0">

        @if (users is not null)
            foreach (var user in users)
            {
                <li>
                    <a asp-controller="admin" asp-action="user" asp-route-id="@user.UserID">@user.User.UserName</a>
                </li>
            }

    </ul>

</nav>
