@model UserEditAdminView;

<div class="col-6">
    <div class="text-info my-2">ID: @Model.ID</div>
    <partial name="/Views/Partials/Forms/_UserEditAdmin.cshtml" model="@Model" />
    <a asp-action="deleteuser" asp-route-id="@Model.ID">Delete user...</a>
</div>