@model ProductAddView
@{ ViewData["Title"] = $"Adding product..."; }

<div class="d-flex container">

    <div class="w-max-200px">
        <partial name="/Views/Partials/Admin/_Sidebar.cshtml" />
    </div>

    <div class="flex-grow-1 d-flex justify-content-center">
        <partial name="/Views/Partials/Admin/_AddProduct.cshtml" model="@Model" />
    </div>

</div>