@model ProductFormView
@{ ViewData["Title"] = "Management console"; }

<div id="admin-root" class="d-flex">
    <partial name="/Views/Partials/Admin/_Sidebar.cshtml" />
    <div id="content">
        <partial name="/Views/Partials/Admin/_ProductAdd.cshtml" model="@Model" />
    </div>
</div>
